:root {
    --ahmad: #11be22;
    --pink: rgb(147, 48, 61);
}

.container {
    background-color: antiquewhite;
}

.body {
    background-color: beige;
    color: var(--ahmad);


}

.btn-primary {
    --bs-btn-bg: #010914;
    color: var(--pink);
}