.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffefe;
    gap: 40px;
    text-decoration: none;
}

nav-a:hover {
    color: yellow;
    text-decoration: underline;
}

span1 {
    color: yellow;
}

span2 {
    color: white;
}

.button {
    border: 1px solid yellow;
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

.button:hover {
    background-color: #9a9a20;
    text-decoration: underline;
    border: #9a9a20;
}